<h1>ngx-copy-to-clipboard</h1>

<p>
  Copied text is: <b>{{ copiedText }}</b>
</p>

<section class="section">
  <h2>Copying data from textarea element</h2>
  <textarea name="text-content" id="text-content" rows="5" cols="33">
Demonstration content...</textarea
  >
  <hr />
  <code>{{ copiedText || 'Your text will be pasted here...' }}</code>
  <hr />
  <ngx-copy-to-clipboard
    target="#text-content"
    [action]="cut"
    [success]="onSuccess"
    [error]="onError"
    >Copy</ngx-copy-to-clipboard
  >
</section>

<section class="section">
  <h2>Copying data from input element</h2>
  <input type="text" name="text" id="text" value="Demonstration content..." />
  <hr />
  <code>{{ copiedText || 'Your text will be pasted here...' }}</code>
  <hr />
  <ngx-copy-to-clipboard target="#text" [action]="cut" [success]="onSuccess" [error]="onError"
    >Copy</ngx-copy-to-clipboard
  >
</section>

<section class="section">
  <h2>Copying data from a HTML element</h2>
  <div id="html-content">
    <h3>This should be copied</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero porro dicta quae et suscipit
      pariatur, non quam nihil labore laboriosam, quos minima excepturi id voluptatum, atque saepe
      quidem nesciunt quas.
    </p>
  </div>
  <hr />
  <code>{{ copiedText || 'Your text will be pasted here...' }}</code>
  <hr />
  <ngx-copy-to-clipboard
    target="#html-content"
    [action]="cut"
    [success]="onSuccess"
    [error]="onError"
    >Copy</ngx-copy-to-clipboard
  >
</section>

<section class="section">
  <h2>Copying data from textarea element</h2>
  <textarea name="second-text-content" id="second-text-content" rows="5" cols="33">
Demonstration content...</textarea
  >
  <hr />
  <code>{{ copiedText || 'Your text will be pasted here...' }}</code>
  <hr />
  <ngx-copy-to-clipboard
    target="#second-text-content"
    [action]="cut"
    [success]="onSuccess"
    [error]="onError"
  >
    <img src="/assets/clippy.svg" alt="Copy content" width="20" />
  </ngx-copy-to-clipboard>
</section>
